<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>

    <application>
        <service
            android:name=".screens.addfeed.ui.service.FeedImportForegroundService"
            android:enabled="true"
            android:foregroundServiceType="dataSync" />
    </application>
</manifest>